@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: black;
}

input,
textarea {
  outline: none;
}

button {
  transition: all 0.3s ease;
}